*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar{
    font-weight: 100;
    font-size: 0.85rem;
    padding: 0 6px 0 6px;
    height: 60px;
    background-color: #386bc0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard-text{
    font-weight: 300;
    display: flex;
    align-items: center;
}

#dashboard-text img{
    display: inline;
    align-self: center;
    margin-right: 5px;
    height: 35px;
    width: 35px;
}

#search-bar{
    min-width: 200px;
    background-color: rgb(240, 239, 239);
    position: relative;
    width: 60%;
    border: 2px solid transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#search-bar:focus-within {
    border: 2.5px solid goldenrod;
    border-bottom-width: 3px;
}

#search-input-div{
    width: 100%;
    margin-left:10px
}

#search-bar i{
    margin-left: 5px;
    color:black;
    font-size: 1rem;
}

#search-input{
    background-color: rgb(240, 239, 239);
    margin-left:10px;
    width: 100%;
    border: none;
    height: 1.5rem;
    width:min-content;
    font-size: 1rem;
}

#search-input:focus{
    outline: none;
}

.search-suggestions{
    position: absolute;
    max-width: 100%;
    max-height: 150px;
    overflow-y:auto;
    top: 103%;
    left:-0.2px;
    right:0.2px;
    align-content: center;
    color: black;
    background-color: rgb(240, 239, 239);
}

.hidden{
    display: none;
}

.search-suggestions li{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    font-weight: 520;
    padding: 3px 10px 3px 33px;
}

.search-suggestions li:hover{
    border: 1px solid black;
}

#station-code{
    text-align: right;
    display: inline;
    background-color: #386bc0;
    color: white;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    width: 35px;
    text-align: center;
    font-size: 0.7rem;
}

#mode-button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.border{
    border: 1.5px solid transparent;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 5px;
}
/*navbar-2*/

#navbar-2{
    display: none;
    height: 40px;
    background-color: #6296f0;
    align-items: center;
    color:white
}

#selected-name{
    display: flex;
}

#selected-name img{
    margin-left: 10px;
    margin-right: 3px;
    height: 20px;
    width: 25px;
    border-radius: 3px;
}

/*Default Page*/


.default-page{
    background-image: url(images/background.jpg);
    background-size: cover;
    color: white;
    height: fit-content;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.default-page h1{
    margin-top: 80px;
    font-size: 3rem;
    font-weight: 400;
}
.default-page button{
    color:white;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: 500;
    font-stretch: narrower;
    background-color: transparent;
    transition-duration: 0.2s;

}

.default-page button:hover{
    background-color: rgb(0, 0, 0,0.4);
}

#default-page-stations{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    margin-right:10%;
    background-color: rgb(0,0,0,0.4);
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

#station-list{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-weight: 100;
}

#station-list ul{
    font-weight: 100;
}

#station-list li{
    list-style: none;
    text-align: left;
}


.display-none{
    display: none;
}



/*Main content */

.main-content{
    display: flex;
    justify-content: center;
}

#temp-graph{
    padding: 0 10px 0 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:65%;
    border-radius: 5px;
    flex-direction: column;
    height: 520px;
    background-color: #eeecec;
    backdrop-filter: blur(20px);
}

#temp-graph h3{
    font-weight: 400;   
    margin: 10px 0px 10px 10px;

}



/* Footer */


#footer-container{
    color: white;
    height: 120px;
    background-color: #386bc0;
}

#footer-bar-1{
    text-align: right;
}

#footer-bar-1 div{
    margin-right: 50px;
}

#footer-bar-1 i{
    margin: 20px 5px 10px 0px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
}

#footer-bar-2{
    margin-left:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 50;
    text-align: left;
}
#footer-bar-2 p{
    margin: 5px 0 5px 0;
}

#footer-container a{
    font-weight: 700;
    color:white;
    text-decoration: none;
}